<h1 class="search-question" [ngClass]="{'hidden': inputFocused }">¿Dónde quieres pagar?</h1>

<div class="search" [ngClass]="{'focused': inputFocused, 'elev-2dp': inputFocused }">
    <!-- <input type="text" placeholder="Busca un establecimiento"> -->
    <i class="material-icons" (click)="unFocusSearch()">
        arrow_back
    </i>
    <i class="material-icons search-icon" [hidden]="inputFocused">
        search
    </i>
    <input class="search-input" type="text" placeholder=" Buscar. . ." (focus)="onSearchFocus()">
    <i class="material-icons" (click)="clearSearch()">
        clear
    </i>
</div>

<div class="search-results" [ngClass]="{'hidden': !inputFocused }">
    <div class="list elev-1dp">
        <div *ngFor="let result of results" class="list-row">
            <i class="material-icons row-icon">
                {{result.icon}}
            </i>
            <div class="row-text">
                <div class="row-text-primary">
                    {{result.name}}
                </div>
                <div class="row-text-secondary">
                    {{result.description}}
                </div>
            </div>
        </div>
    </div>
</div>