<h1 class="search-question" [ngClass]="{'hidden': inputFocused }">¿Dónde quieres pagar?</h1>

<div class="search" [ngClass]="{'focused': inputFocused, 'elev-2dp': inputFocused }">
    <!-- <input type="text" placeholder="Busca un establecimiento"> -->
    <i class="material-icons" (click)="cancelSearch()">
        arrow_back
    </i>
    <i class="material-icons search-icon" [hidden]="inputFocused">
        search
    </i>
    <input [(ngModel)]="searchQry" (keyup)="search()" class="search-input" type="text"
        placeholder=" Buscar. . ." (focus)="onSearchFocus()">
    <i class="material-icons" (click)="clearSearch()">
        clear
    </i>
</div>
<div class="search-results" [ngClass]="{'hidden': !inputFocused }">
    <div class="list elev-1dp">
        <div *ngFor="let result of searchResults | async" class="list-row ripple">
            <i class="material-icons row-icon">
                {{getIcon(result.type)}}
            </i>
            <div class="row-text">
                <div class="row-text-primary">
                    {{result.display_name}}
                </div>
                <div class="row-text-secondary">
                    {{result.description}}
                </div>
            </div>
        </div>
    </div>
</div>