<div class="auth-container">
    <img src="/assets/logo_sm.png" width="128">
    <form (ngSubmit)="submit()" #signInForm="ngForm">

        <div class="form-group">
            <i class="material-icons">
                email
            </i>
            <input type="email" placeholder=" Correo electrónico" name="email" autocomplete="email"
                id="username" required [(ngModel)]="user.username" name="username" #username="ngModel"
                [email]="true">
            <!-- <div [hidden]="username.valid || username.pristine" class="alert alert-dange">Usuario es requerido y debe ser un email</div> -->
        </div>

        <div class="form-group">
            <i class="material-icons">
                lock
            </i>
            <input type="password" placeholder=" Contraseña" autocomplete="current-password"
                id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
            <!--             <div [hidden]="password.valid || password.pristine" class="alert alert-dange">Contraseña es requerida</div>
 --></div>

        <div class="form-group" [ngClass]="{'hidden': !isRegistration}">
            <label for="confirm-password">Confirma Contraseña</label>
            <input type="password" autocomplete="off" class="form-control" id="confirm-password"
                [required]="isRegistration" [(ngModel)]="user.confirm_password" name="confirm-password"
                #confirmPassword="ngModel">
            <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-dange">Contraseña es requerida</div>
        </div>

        <button [disabled]="submitting || !signInForm.form.valid" type="submit" class="btn">{{ isRegistration? 'Registrar' : 'Iniciar Sesión'}}</button>

        <!-- <button type="button" class="btn">Iniciar Sesión</button> -->

        <p [hidden]="isRegistration">¿No tienes una cuenta?
            <a class="link" (click)="showRegister()"> ¡Regístrate!</a>
        </p>
        <p [hidden]="!isRegistration">¿Ya tienes una cuenta?
            <a class="link" (click)="showSignIn()"> Inicia Sesión. </a>
        </p>
    </form>
</div>