<div class="auth-container">
    <img src="/assets/logo_green_lg.png" width="128">
    <form (ngSubmit)="submit()" #signInForm="ngForm">

        <div class="input-group">
            <div class="input-icon">
                <i class="material-icons">
                    email
                </i>
                <input type="email" placeholder=" Correo electrónico" autocomplete="email" id="username"
                    required [(ngModel)]="user.username" name="username" #username="ngModel"
                    [email]="true">
            </div>
            <div [hidden]="username.valid || username.pristine || username.untouched" class="input-error">Usuario es requerido y debe ser un correo electrónico</div>
        </div>

        <div class="input-group">
            <div class="input-icon">
                <i class="material-icons">
                    lock
                </i>
                <input type="password" placeholder=" Contraseña" autocomplete="current-password"
                    id="password" required [(ngModel)]="user.password" name="password"
                    #password="ngModel">
            </div>
            <div [hidden]="password.valid || password.pristine || password.untouched" class="input-error">Contraseña es requerida</div>
        </div>

        <div class="input-group" [ngClass]="{'hidden': !isRegistration}">
            <div class="input-icon">
                <i class="material-icons">
                    lock
                </i>
                <input type="password" placeholder=" Confirmar Contraseña" autocomplete="off" id="confirm-password"
                    [required]="isRegistration" [(ngModel)]="user.confirm_password" name="confirm-password"
                    #confirmPassword="ngModel">
            </div>
            <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-dange">Contraseña es requerida</div>
        </div>

        <button [disabled]="submitting || !signInForm.form.valid" type="submit" class="btn elev-2dp">{{ isRegistration? 'Registrar' : 'Iniciar Sesión'}}</button>

        <!-- <button type="button" class="btn">Iniciar Sesión</button> -->
        <br>
        <p [hidden]="isRegistration">¿No tienes una cuenta?
            <a class="link" (click)="showRegister()"> ¡Regístrate!</a>
        </p>
        <p [hidden]="!isRegistration">¿Ya tienes una cuenta?
            <a class="link" (click)="showSignIn()"> Inicia Sesión. </a>
        </p>
    </form>
</div>