@media screen and (max-width: 375px) and (max-device-height: 800px) {
    .auth-container {
        max-width: 70%;
        margin: 15vh auto;
    } 
}

.auth-container {
    max-width: 70%;
    margin: 15vh auto;
}

.auth-container img {
    display: block;
    margin: auto;
}

/* form {
    transition: all 200ms ease-out;
}

form.error {
    transform: translateY(20%);
} */

.auth-container form {
    margin-top: 2rem;
}

.input-group {
    margin: 2rem 0;
}

.input-icon {
    display: flex;
    margin-bottom: 10px;
}

.input-icon i {
    margin-right: 5px;
    color: var(--icon-color);
}
.input-icon i.valid {
    color: var(--secondary-color);
}

.input-icon input {
    color: var(--primary-color-text);
}

.input-error {
    color: var(--error-color);
}

