.title {
    /* font-weight: normal;
    font-size: 2rem;
    text-align: center; */
    margin-top: 10vmin;
}

.add-btn {
    min-height: 3rem;
    width: 70%;
    display: block;
    margin: 2.5rem auto;
}

.add-btn p {
    margin: 0 auto;
}

.new-method {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--primary-color-light);
}
.card-container {
    margin-top:1rem;
}
.new-method-form {
    flex-grow: 1;
    padding: 2rem;
}
.new-method-form .card-container {
    margin-bottom: 2rem;
}

/* .new-method-form .card-container.small {
    margin-left: -2rem;
} */

.new-method-form input {
    background-color: var(--primary-color-light);
    margin-bottom: 1rem;
}

/* .new-method-form input:last-child {
    margin-bottom: 0;
} */

.new-method-form .exp-cvc {
    display: flex;
    justify-content: space-between;
}

.new-method-form .exp-cvc input {
    margin: 0;
    width: 10rem;
}


.new-method-buttons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--primary-color-dark);
}
.new-method-buttons button {
    width: 10rem;
}