<div class="return" (click)="back()">
    <i class="material-icons">
        arrow_back
    </i>
    <span>{{ addingNewMethod ? 'Cancelar' : 'Regresar'}}</span>
</div>

<div [hidden]="addingNewMethod">

    <h1 class="title">
        Métodos de Pago
    </h1>


    <div class="list elev-1dp">
        <ng-container *ngIf="cards$; else loading">
            <div class="list-row" (click)="selectCard(card)" *ngFor="let card of cards$ | async">
                <div class="row-icon">
                    <fa-icon [icon]="['fab', 'cc-' + card.brand]"></fa-icon>
                </div>
                <div class="row-text">
                    {{ card.brand | titlecase }} {{ card.card_number }}
                    <span class="default" [hidden]="!card.default">
                        <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                    </span>
                </div>
                <!-- <div [hidden]="!card.default" class="row-right default">
                    <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                </div> -->
                <div class="row-right" [hidden]="!canEdit">
                    <i class="material-icons row-icon">
                        chevron_right
                    </i>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <h1>. . .</h1>
            <!-- TODO: Add loader component -->
        </ng-template>
    </div>

    <button type="button" class="btn btn-lg elev-1dp add-btn" (click)="showAddNewMethod()">
        Agregar Método de Pago
    </button>
</div>

<div [hidden]="!addingNewMethod">
    <h1 class="title">
        Agregar Método de Pago
    </h1>

    <form #newCardForm="ngForm" (ngSubmit)="addNewCard()" card container=".card-container" card-width="{{cardWidth}}"
        [messages]="messages" [placeholders]="placeholders" [masks]="masks" formatting="true" debug="true">
        <div class="card new-method elev-2dp">
            <div class="card-container"></div>
            <div class="new-method-form">
                <input [(ngModel)]="newCard.card_number" type="tel" inputmode="numeric" placeholder=" Número de Tarjeta"
                    id="cc-number" name="cc-number" autocomplete="cc-number" card-number>

                <input [(ngModel)]="newCard.holder_name" type="text" placeholder=" Nombre en la Tarjeta" id="cc-name"
                    name="cc-name" autocomplete="cc-name" card-name>

                <div class="exp-cvc">
                    <input [(ngModel)]="newCardExp" type="tel" placeholder=" mm / aa" id="cc-exp" name="cc-exp"
                        autocomplete="cc-exp" card-expiry>

                    <input [(ngModel)]="newCard.cvv2" type="tel" placeholder=" cvc" id="cc-csc" name="cc-csc"
                        autocomplete="cc-csc" card-cvc>
                </div>

                <div class="make-default">
                    <input type="checkbox" [(ngModel)]="newCard.default" id="set-default" name="set-default"
                        class="switch-input">
                    <label for="set-default" class="switch-label">Usar como predeterminada</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg elev-1dp add-btn">
            Agregar
        </button>
    </form>
</div>