<header>
    Zale
</header>
<main>
    <router-outlet></router-outlet>
</main>
<nav class="bottom-nav">
    <div class="nav-item" routerLinkActive="active">
        <i class="nav-item-icon material-icons">
            receipt
        </i>
        <a class="nav-item-text" routerLink="./receipts">Recibos</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
        <i class="nav-item-icon material-icons">
            search
        </i>
        <a class="nav-item-text" routerLink="./search">Buscar</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
        <i class="nav-item-icon material-icons">
            person
        </i>
        <a class="nav-item-text" routerLink="./account">Perfil</a>
    </div>
</nav>