header {
    /* height: 3rem; */
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--secondary-text);
    font-size: 1.5rem;
    padding: .75rem;
   /*  //border-bottom: 1px solid var(--secondary-color); */
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    background-color: var(--primary-color-light);
    height: 3rem;
    text-align: center;
}

.bottom-nav .nav-item {
    flex-grow: 1;
    color: var(--secondary-color);
    height: 100%;
}

.bottom-nav .nav-item.active {
    flex-grow: 1;
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--primary-color-light);
    border-top: 2px solid var(--secondary-color);
    height: 120%;
    outline: none;
}

.nav-item.active i {
    font-weight: bold;
}

.bottom-nav .nav-item.active.middle {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bottom-nav .nav-item.active.left {
    border-top-right-radius: 6px;
}

.bottom-nav .nav-item.active.right {
    border-top-left-radius: 6px;
}

.bottom-nav .nav-item .nav-item-icon {
    margin-top: 0.2rem;
}

.bottom-nav .nav-item .nav-item-text {
    text-decoration: none;
    font-size: .8rem;
    color: var(--secondary-color);
    display: block;
    margin-top: -0.2rem;
}
