.loading-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: var(--primary-color-dark);
    opacity: 0.5;
    z-index: 98;
}

.loading {
   /*  margin: 35vh auto; */
    /* width: 50px; */
    height: 60px;
    /* text-align: center; */
    /* font-size: 10px; */
    position: absolute;
    top: 40vh;
    left: 45vw;
    z-index: 99;
}

.loading > div {
    /* background-color: #333; */
    height: 100%;
    width: 10px;
    margin-right: 2px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.loading .rect1 {
    background-color: var(--secondary-color-light);
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.loading .rect2 {
    background-color: var(--secondary-color);
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading .rect3 {
    background-color: #37474f;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading .rect4 {
    background-color: var(--secondary-color-dark);
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

/* .loading .rect5 {
    background-color: var(--secondary-color-dark);
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
} */

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}