<div class="return ripple" (click)="back()">
    <i class="material-icons">
        arrow_back
    </i>
    <span>Busca otro lugar donde pagar</span>
</div>

<h1 class="pay-question" [ngClass]="{ 'focused': inputFocused }">
    ¿Cuánto quieres pagar en
    <span class="name">{{establishment?.display_name}}</span>?
</h1>

<form (ngSubmit)="amountInput.blur()" #currencyForm="ngForm">
    <div class="currency-input" [ngClass]="{ 'focused': inputFocused }">
        <i class="material-icons">
            attach_money
        </i>
        <input #amountInput type="number" name="amount" id="amount" placeholder="0.00" min="0"
            step="0.01" pattern="[0-9]*" (focus)="onCurrencyFocus()" (blur)="onCurrencyBlur()"
            [(ngModel)]="amount">
    </div>
</form>

<button type="button" class="btn elev-2dp pay-btn">
    <i class="material-icons">
        payment
    </i>
    <p>Pagar usando
        <em>{{ card.brand + ' ' + card.number }}</em>
    </p>
</button>
<div class="pay-other-method" (click)="changePaymentMethod()">
    Usar otro método de pago
</div>