/* You can add global styles to this file, and also import other style files */
/*
Colors
    Primary: Blue Grey 50
    Secondary: Blue Grey 700
    https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=ECEFF1&secondary.color=455A64
*/
@import url("elevation.css");

html {
    font-size: 100%;
}
@media screen and (max-width: 375px) and (max-device-height: 800px) {
    html {
        font-size: 80%;
    }
}
@media screen and (max-width: 370px) {
    html {
        font-size: 75%;
    }
}

:root {
    /* --primary-color: #eceff1;
    --primary-color-light: #FFFFFF;
    --primary-color-dark: #babdbe;
    --primary-text: #000000; */

    /* --secondary-color: #455a64;
    --secondary-color-light: #718792;
    --secondary-color-dark: #1c313a;
    --secondary-text: #ffffff; */

    --primary-color: #fafafa;
    --primary-color-light: #FFFFFF;
    --primary-color-dark: #c7c7c7;
    --primary-text: #000000;

    --secondary-color: #2e7d32;
    --secondary-color-light: #60ad5e;
    --secondary-color-dark: #005005;
    --secondary-text: #ffffff;

    --error-color: #B00020;

    --icon-color: #424242;
}
body {
    margin: 0;
    color: var(--primary-text);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}
input {
    font-family: 'Montserrat', sans-serif;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    font-size: 1.2rem;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border-width: 0px 0px 2px 0px;
    border-color: var(--secondary-color-dark);
}

button.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color-light);
    width: 100%;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    border-radius: 6px;

    background-position: center;
    transition: background 0.6s ease;
}

button.btn-clear {
    background: none;
    border-radius: unset;
    width: 100%;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;

    background-position: center;
    transition: background 0.6s ease;
}

button.btn-clear:disabled,
button.btn:disabled {
    opacity: 0.7;
}

button.btn-clear:active,
button.btn:active {
    background-color: var(--secondary-color-light);
    background-size: 100%;
    transition: background 0s ease;
}


/**
 * Forms CSS
 */
/*  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
}
.ng-invalid.ng-touched:not(form) {
    border-left: 5px solid #a94442;
} */

/**
 * Ripple Effect
 */
/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.6s ease;
}
/* 
Actual ripple effect but I didnt like it
.ripple:hover {
    background: var(--primary-color-dark) radial-gradient(circle, transparent 1%, var(--primary-color-dark) 1%) center/15000%;
} */
.ripple:active {
    background-color: var(--primary-color-dark) !important;
    background-size: 100%;
    transition: background 0s ease;
}


a {
    text-decoration: none;
}

.link {
    color: var(--secondary-color-dark);
    text-decoration: var(--secondary-color-dark) underline solid;
    cursor: pointer;
}

.error {
    color: var(--error-color);
}
.success {
    color: var(--secondary-color);
}

.error-bg {
    background-color:  var(--error-color);
    color: #FFFFFF;
}

.hidden {
    display: none !important;
}

.return {
    display: flex;
    justify-content: center;
    margin-top: 15vmin;
    font-size: 1.2rem;
}

.return i {
    font-weight: bold;
    color: var(--secondary-color);
}

.return span {
    text-decoration: underline var(--secondary-color);
}

.vertical-div {
    width: 1px;
    background-color: var(--primary-color-dark);
}
